extend ' .owl-owl-carousel' has no matches
/*Основной цвет*/
/*Цвет плашек*/
/*Цвет фона*/
/*Цвет панелей*/
/*Цвет hover кнопки*/
/*Базовый шрифт*/
/*Большой шрифт*/
/*heading*/
/*footer*/
img {
  max-width: 100%;
}
p {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.ul-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}
.my-flex-row {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
}
h1 {
  color: #FFFFFF;
  font-size: 1.875em;
  text-transform: uppercase;
  font-family: 'MuseoSansBlack';
  font-weight: 900;
  line-height: 1;
}
h2 {
  color: #7e5ea7;
  font-size: 1.875em;
  font-family: 'MuseoSansBlack';
  text-transform: uppercase;
}
article h2 {
  color: #333333;
  font-weight: 700;
  font-family: 600;
  font-size: 1.5em;
  padding-top: 40px;
}
h4 {
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 0px;
  font-size: 13px;
  font-weight: 600;
}
.heading {
  background: #7e5ea7;
  text-align: center;
  margin: 0px 0px 0px 0px;
}
.heading a {
  color: #FFFFFF;
}
.tinytext {
  font-family: 'MuseoSansRegular';
  font-size: 10px;
  font-weight: 300;
}
.smalltext {
  font-family: 'MuseoSansRegular';
  color: #787878;
  font-size: 13px;
  font-weight: 300;
}
.text {
  font-family: 'MuseoSansRegular';
  font-weight: 300;
  font-size: 16px;
}
.mediumtext {
  font-family: 'MuseoSansRegular';
  font-weight: 700;
  font-size: 16px;
}
.largetext {
  font-family: 'MuseoSansBold';
  font-size: 17px;
  font-weight: 700;
}
section {
  margin-top: 20px;
}
.padding-plaska,
.heading,
.vertical_menu ul li a {
  padding: 16px 0px 15px 0px;
  margin: 0px 0px 0px 0px;
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.clear {
  clear: both;
  float: none;
}
.heightfix {
  display: block;
  height: 420px;
  clear: both;
  visibility: hidden;
}
/*Clear Css*/
.null {
  margin: 0px !important;
  padding: 0px !important;
}
a:link,
a:active,
a:visited,
a:focus {
  outline: none;
}
ol,
ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
*:focus {
  outline: none !important;
}
/*remove webkit focus outline */
input {
  margin: 0;
  border: none;
  cursor: pointer;
}
/*remove 2px border across top of input */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  header > .container > .row > .col-lg-5 {
    width: 38.4%;
  }
  header > .container > .row > .col-lg-3 {
    width: 21%;
  }
  header > .container > .row > .col-lg-2 {
    width: 20%;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  header > .container > .row > .col-lg-5 {
    width: 38.4%;
  }
  header > .container > .row > .col-lg-5 .col-lg-7 {
    width: 55.33333333%;
  }
  header > .container > .row > .col-lg-5 .col-lg-5 {
    width: 43.66666667%;
  }
  header > .container > .row > .col-lg-3 {
    width: 21%;
  }
  header > .container > .row > .col-lg-2 {
    width: 20%;
  }
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-left: 10px;
  padding-right: 10px;
}
html,
body,
#wrapper {
  height: 100%;
}
body {
  font-family: 'MuseoSansRegular';
  font-size: 16px;
  font-weight: 600;
  background: transparent;
}
a {
  color: #252525;
  font-size: 13px;
}
a:hover {
  text-decoration: none;
}
ul {
  margin: 0px 0px 0px 0px;
  list-style: none;
  line-height: 1;
  padding: 0px 0px 0px 0px;
  height: 100%;
}
.ul-unstyled {
  list-style: none;
}
#wrapper {
  min-height: 100% !important;
  margin: 0px;
  width: 100%;
  height: 100%;
  height: auto !important;
  background: transparent;
}
header {
  /*height: 115px;*/
  font-family: 'MuseoSansRegular';
  /*Search*/
}
header .bg_line {
  z-index: 960;
  position: absolute;
  width: 100%;
  top: 26px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ffffff+21,8566ab+100 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ffffff 1%, #ffffff 21%, #8566ab 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffffff 1%, #ffffff 21%, #8566ab 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffffff 1%, #ffffff 21%, #8566ab 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#8566ab', GradientType=1);
  /* IE6-9 */
}
header .container {
  /* padding-left:0px;
     padding-right:0px;
   */
}
header [class^="icon-"] {
  color: #7e5ea7;
}
header .logo {
  top: 20px;
  position: relative;
}
header .phone {
  background-image: url('../img/phone.png');
  background-position: 40px 0px;
  background-repeat: no-repeat;
  padding-left: 32px;
  line-height: 0.4em;
  padding-top: 10px;
}
header .phone div {
  position: relative;
  left: 50px;
  top: -5px;
}
header .phone > div > .smalltext {
  font-family: 'MuseoSansRegular';
  color: #787878;
  font-size: 13px;
  font-weight: 300;
  padding-bottom: 10px;
  padding-top: 16px;
}
header .social {
  padding-top: 15px;
  font-size: 15px;
  position: relative;
  left: 10px;
}
header .delivery {
  padding-top: 12px;
  padding-left: 50px;
}
header .private {
  padding-top: 8px;
  float: right;
}
header .social a {
  color: #7e5ea7;
  padding-right: 18px;
}
header .social a span {
  color: #7e5ea7;
}
header #callback_btn {
  position: relative;
  top: 50px;
  right: 20px;
}
header .search_block {
  position: relative;
  left: 15%;
  top: -2px;
}
header #searchfield {
  width: 82%;
  height: 34px;
}
header #btnsearch {
  position: relative;
  right: 4px;
  top: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
header .cart_block {
  position: relative;
  right: 0px;
  padding-left: 65px;
}
header .cart {
  float: left;
  padding: 1px 1px 1px 1px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b859a2+1,805ea7+100 */
  background: #b859a2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #b859a2 1%, #805ea7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #b859a2 1%, #805ea7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #b859a2 1%, #805ea7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b859a2', endColorstr='#805ea7', GradientType=0);
  /* IE6-9 */
  height: 33px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
header .cart a {
  font-size: 15px;
  text-decoration: none;
}
header .cart a span {
  font-size: 17px;
}
header .cart a:hover {
  text-decoration: none;
}
header .cart .box {
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 100;
  padding: 6px 12px 6px 12px;
}
header .site_nav {
  width: 100%;
  height: 34px;
  background: #252525;
}
header .site_nav .container {
  height: 100%;
}
header .site_nav .container .row {
  height: 100%;
}
header .site_nav .container .row ul li {
  display: inline-block;
  height: 100%;
  padding-top: 11px;
}
header .site_nav .container .row ul li a {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'MuseoSansRegular';
  padding: 12px 35px 8px 35px;
}
header .site_nav .container .row ul li:first-child a {
  padding-left: 0px;
}
header .site_nav .container .row ul li:last-child a {
  padding-right: 0px;
}
header .site_nav .container .row ul li:hover {
  background: #555555;
}
/*Vertical menu*/
.vertical_menu_cont h4 > span {
  padding-right: 10px;
}
.vertical_menu ul li {
  background: #252525;
  border-bottom: 1px solid #FFFFFF;
  cursor: pointer;
  position: relative;
}
.vertical_menu ul li:hover {
  background: #555555;
}
.vertical_menu ul li:hover .submenu {
  display: block;
}
.vertical_menu ul li a {
  color: #FFFFFF;
  font-size: 14px;
  padding-left: 44px;
  display: block;
}
.vertical_menu ul li a [class^="icon-"] {
  color: #FFFFFF;
  font-size: 16px;
  position: static !important;
  float: right;
  padding-right: 9px;
}
.vertical_menu ul li span:first-child {
  position: absolute;
  top: 12px;
  left: 18px;
}
.vertical_menu ul li .icon-menu {
  font-size: 16px;
}
.vertical_menu ul li .submenu {
  position: absolute;
  z-index: 300;
  top: 0px;
  left: 100%;
  width: 80%;
  display: none;
}
.vertical_menu ul li:last-child a {
  padding-top: 14px;
  padding-bottom: 14px;
}
.vertical_menu ul li .icon-angle-right {
  display: inline-block;
}
.vertical_menu ul li .icon-chevron-up {
  display: none;
}
.vertical_menu ul li .icon-chevron-down {
  display: none;
}
/*Footer*/
footer {
  height: 420px;
  margin-top: -402px;
  color: #b8a7cf;
  position: relative;
  font-size: 12px;
}
footer p.smalltext {
  font-size: 12px;
  color: #b8a7cf;
}
footer [class^="icon-"] {
  color: #FFFFFF;
  font-size: 18px;
}
footer a {
  font-size: 14px;
  color: #b8a7cf;
  font-family: 'MuseoSansMedium';
  font-weight: 700;
}
footer a:hover {
  color: #FFFFFF;
}
footer a p {
  color: #b8a7cf;
}
footer a h4 {
  color: #FFFFFF;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 0px;
  padding-bottom: 30px;
}
footer h4.mediumtext {
  font-size: 16px;
}
footer .footer_up {
  width: 100%;
  height: 334px;
  padding-top: 52px;
  background-image: url('../img/footer_bg.jpg');
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center center;
  -ms-behavior: url(/assets/ie8-support/backgroundsize.min.htc);
}
footer .footer_up nav > ul > li {
  font-size: 14px;
  line-height: 170%;
}
footer .footer_up p {
  padding-top: 22px;
}
footer .footer_up p.text {
  padding-top: 22px;
  font-size: 16px;
  color: #b8a7cf;
  text-indent: 0px;
  line-height: 1.2;
}
footer .footer_up p.text a {
  padding-left: 10px;
  padding-top: 22px;
}
footer .footer_up p.text span {
  display: inline-block;
  float: left;
}
footer .footer_up p.text span:nth-child(2) {
  width: 90%;
  padding-left: 10px;
}
footer .footer_up p.text span:nth-child(2) a {
  text-decoration: underline;
  font-size: 15px;
  padding-left: 0px;
}
footer .footer_down {
  height: 86px;
  background: #3a124d;
  color: #dacde0;
}
footer .footer_down p {
  padding-top: 10px;
}
footer .footer_down .social_footer {
  float: right;
  text-align: right;
}
footer .footer_down .social_footer a {
  color: #FFFFFF;
  font-size: 15px;
  padding: 8px 10px 8px 10px;
  margin-top: 24px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  float: left;
  margin-left: 10px;
}
#navbtn {
  display: none;
  font-size: 40px;
  float: left;
  color: #FFFFFF;
  font-weight: 300;
}
/****************** Catalog*******************************/
.catalog {
  background: #f5f5f5;
}
.owl-item {
  float: left;
}
.product {
  position: relative;
  margin-top: 15px;
  left: 9px;
  padding: 22px 10px 10px 10px;
  background: #FFFFFF;
}
.product .plaska-news {
  background: #00aeef;
  font-size: 11px;
  color: #FFFFFF;
  position: absolute;
  padding: 1px 5px 1px 5px;
  top: -5px;
  left: -9px;
}
.product .plaska-popular {
  background: #00aeef;
  font-size: 11px;
  color: #FFFFFF;
  position: absolute;
  padding: 1px 5px 1px 5px;
  top: -5px;
  left: -9px;
  background: #ef9b2f;
}
.product .plaska-discount {
  background: #00aeef;
  font-size: 11px;
  color: #FFFFFF;
  position: absolute;
  padding: 1px 5px 1px 5px;
  top: -5px;
  left: -9px;
  background: #43b41b;
}
.product p {
  padding-top: 12px;
}
.product a:hover {
  color: #252525;
}
.product .pagetitle {
  font-size: 15px;
  padding-top: 14px;
  text-align: center;
  display: block;
}
.product .rating {
  color: #ffbf44;
  margin-top: 12px;
  text-align: center;
}
.product .rating a.tinytext {
  font-size: 11px;
  color: #787878;
}
.product .price {
  color: #7e5ea7;
  font-family: Arial;
  font-size: 18px;
  font-weight: normal;
}
.product .availbal {
  color: #43b41b;
  font-size: 11px;
  padding-top: 15px;
}
.product .product_btn {
  position: absolute;
  top: 80px;
  margin-left: 20%;
  margin-right: 20%;
  display: none;
}
.hoverproduct {
  padding: 20px 10px 10px 10px;
  box-shadow: 3px 3px 15px -1px #000000, -6px 14px 24px -7px #000000;
  background: #FFFFFF;
  border: 1px solid #c6c6c6;
}
.hoverproduct .price {
  font-weight: bold;
}
.hoverproduct .product_btn {
  display: block;
}
.hoverproduct .product_btn a {
  background: #7e5ea7;
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
}
.hoverproduct .product_btn a:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.navigation_block {
  width: 100%;
  position: relative;
}
.navigation {
  position: absolute;
  right: 0px;
  z-index: 800;
}
.navigation .btn4 .box {
  font-size: 20px;
}
.navigation #navigation {
  top: -15px;
}
.navigation #navigation2 {
  top: 400px;
}
.breadcrumbs {
  padding: 11px 0 15px 0;
}
.breadcrumbs li,
.breadcrumbs a {
  line-height: 1.0;
  vertical-align: middle;
  font-family: 'MuseoSansRegular';
  color: #787878;
  font-size: 13px;
  font-weight: 300;
}
.breadcrumbs a {
  text-decoration: underline;
}
.breadcrumbs li {
  display: inline-block;
}
.breadcrumbs li a:after {
  display: inline-block;
  margin: 0 5px 0 9px;
  vertical-align: middle;
}
/*Media Query*********/
@media (max-width: 640px) {
  /**********HEADER*/
  header .logo {
    order: 1;
    text-align: center;
    position: static;
    margin-bottom: 10px;
    border-top: 1px solid #7e5ea7;
    padding-top: 10px;
  }
  header .logo:after {
    clear: both;
  }
  header .social {
    order: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 7px;
  }
  header .private {
    order: 0;
    font-size: 80%;
  }
  header .delivery {
    display: none;
  }
  header .phone {
    order: 2;
    top: 0px;
    left: 0px;
    background: none;
    position: static;
    margin-bottom: 10px;
    padding-left: 10px !important;
  }
  header .phone .smalltext {
    display: none;
  }
  header .phone div {
    position: static;
    top: 0px;
    left: 0px;
    padding-left: 0px;
  }
  header .phone p {
    display: inline-block;
  }
  header .callback_block {
    order: 2;
    position: static;
  }
  header .cart_block {
    order: 3;
    margin-top: 10px;
  }
  header .search_block {
    order: 4;
    margin-top: 10px;
    width: 100%;
    position: static;
    background: #252525;
  }
  header .site_nav {
    display: none;
  }
  header #searchfield {
    width: 61%;
  }
  .vertical_menu_cont {
    padding-left: 2%;
    padding-right: 2%;
  }
  #navbtn {
    display: block;
    padding: 0px 10px 0px 15px;
    font-size: 30px;
  }
  .sec1 .heading {
    text-align: left;
    padding-left: 12px;
  }
  .sec1 .heading .icon-menu {
    font-size: 16px;
  }
  .sec1 .heading .icon-chevron-up {
    font-size: 16px;
    float: right;
    padding-right: 12px;
  }
  .sec1 .vertical_menu ul li .icon-angle-right {
    display: none;
  }
  .sec1 .vertical_menu ul li .icon-chevron-up {
    display: inline-block;
  }
  .sec1 .vertical_menu ul li .icon-chevron-down {
    display: inline-block;
    font-weight: 300;
  }
  aside {
    order: 4;
  }
  /*Catalog*/
  .catalog {
    margin-top: 0px;
  }
  .catalog h2 {
    text-align: center;
  }
  .catalog #bestofferstitle {
    padding-top: 80px;
  }
  .catalog .navigation {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .catalog #navigation {
    top: 44%;
  }
  .catalog #navigation2 {
    top: 101%;
  }
  .catalog #js-next,
  .catalog #js-next2 {
    float: right;
  }
  .socialnetwork1 {
    display: none;
  }
  footer .footer_up {
    padding-top: 20px;
    height: 820px;
    background-size: cover;
  }
  footer .footer_up nav {
    -moz-column-count: 2;
    /* Firefox */
    -webkit-column-count: 2;
    /* Safari and Chrome */
    column-count: 2;
  }
  footer .footer_up h4 {
    padding-top: 40px;
  }
  footer .footer_down {
    height: 202px;
  }
  footer .footer_down .social_footer {
    text-align: left;
    margin-bootom: 21px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  header .logo {
    order: 0;
    text-align: center;
    position: static;
    margin-bottom: 10px;
    border-top: 1px solid #7e5ea7;
    padding-top: 10px;
  }
  header .logo:after {
    clear: both;
  }
  header .social {
    order: 3;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 7px;
    position: absolute;
    font-size: 20px;
    z-index: 300;
    top: 134px;
  }
  header .social a > span {
    font-size: 20px;
  }
  header .private {
    order: 1;
    font-size: 80%;
  }
  header .delivery {
    display: none;
  }
  header .phone {
    order: 2;
  }
  header .callback_block {
    order: 2;
    position: static;
  }
  header .cart_block {
    order: 1;
    margin-top: 10px;
    padding-left: 0px;
  }
  header #navbtn {
    display: block;
  }
  header .search_block {
    order: 3;
    margin-top: 10px;
    width: 100%;
    position: static;
    background: #252525;
    float: right;
  }
  header .site_nav {
    display: none;
  }
  header #searchform {
    width: 50%;
    float: right;
  }
  header #searchfield {
    width: 82%;
  }
  footer .footer_up {
    padding-top: 20px;
    height: 820px;
    background-size: cover;
  }
  footer .footer_up nav {
    -moz-column-count: 2;
    /* Firefox */
    -webkit-column-count: 2;
    /* Safari and Chrome */
    column-count: 2;
  }
  footer .footer_up h4 {
    padding-top: 40px;
  }
  footer .footer_down {
    height: 202px;
  }
  footer .footer_down .social_footer {
    text-align: left;
    margin-bootom: 21px;
  }
}
