/*Основной цвет*/
/*Цвет плашек*/
/*Цвет фона*/
/*Цвет панелей*/
/*Цвет hover кнопки*/
/*Базовый шрифт*/
/*Большой шрифт*/
/*heading*/
/*footer*/
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-clock-o:before {
  content: "\f017";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-phone:before {
  content: "\f095";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-vk2:before {
  content: "\f189";
}
.icon-shopping-basket:before {
  content: "\f291";
}
.icon-user-circle:before {
  content: "\f2bd";
}
.icon-search:before {
  content: "\f002";
}
.icon-star:before {
  content: "\f005";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-menu:before {
  content: "\e9bd";
}
.sprite1-compare,
.sprite1-heart,
.sprite1-phone,
.sprite1-search,
.sprite1-arrow-left,
.sprite1-arrow-right {
  display: inline-block;
  background: url('../img/sprite1.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.sprite1-compare {
  background-position: 0px 0px;
  width: 19px;
  height: 16px;
  background-size: cover;
}
.sprite1-heart {
  background-position: 0px -18px;
  width: 19px;
  height: 16px;
}
.sprite1-phone {
  background-position: 0px -34px;
  width: 19px;
  height: 32px;
}
.sprite1-search {
  background-position: 0px -66px;
  width: 18px;
  height: 18px;
}
.sprite1-arrow-left {
  background-position: 0px -84px;
  width: 11px;
  height: 18px;
}
.sprite1-arrow-right {
  background-position: -11px -84px;
  width: 11px;
  height: 18px;
}
/*Sprite2*/
.sprite2-tube,
.sprite2-accessories,
.sprite2-design-hockan,
.sprite2-set,
.sprite2-egypet-hockan,
.sprite2-coal,
.sprite2-sigarete {
  display: inline-block;
  background: url('../img/sprite2.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.sprite2-tube {
  background-position: -3px 0px;
  width: 19px;
  height: 16px;
}
.sprite2-accessories {
  background-position: -3px -19px;
  width: 18px;
  height: 14px;
}
.sprite2-design-hockan {
  background-position: -3px -36px;
  width: 17px;
  height: 21px;
}
.sprite2-set {
  background-position: -3px -60px;
  width: 17px;
  height: 17px;
}
.sprite2-egypet-hockan {
  background-position: -3px -80px;
  width: 15px;
  height: 21px;
}
.sprite2-coal {
  background-position: -3px -104px;
  width: 13px;
  height: 16px;
}
.sprite2-sigarete {
  background-position: -3px -123px;
  width: 7px;
  height: 18px;
}
.sprite4icon-sortlist,
.sprite4icon-sorttable,
.sprite4icon-catalog,
.sprite4icon-filters {
  display: inline-block;
  background: url('../img/sprite4.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.sprite4icon-sortlist {
  background-position: -5px 0px;
  width: 16px;
  height: 16px;
}
.sprite4icon-sorttable {
  background-position: -5px -21px;
  width: 16px;
  height: 16px;
}
.sprite4icon-catalog {
  background-position: -5px -42px;
  width: 13px;
  height: 10px;
}
.sprite4icon-filters {
  background-position: -5px -57px;
  width: 13px;
  height: 11px;
}
