/*Carusel*/
/*Основной цвет*/
/*Цвет плашек*/
/*Цвет фона*/
/*Цвет панелей*/
/*Цвет hover кнопки*/
/*Базовый шрифт*/
/*Большой шрифт*/
/*heading*/
/*footer*/
.carousel {
  position: relative;
  top: 0px;
}
.carousel h1 {
  color: #FFFFFF;
  font-size: 1.875em;
  text-transform: uppercase;
  font-family: 'MuseoSansBlack';
  font-weight: 900;
  line-height: 1;
}
.carousel h1 p {
  font-family: 'MuseoSansBlack';
  font-size: 2.158em;
  font-weight: 900;
}
.carousel .carousel-inner {
  /* height: 366px;*/
}
.carousel .item {
  position: relative;
}
.carousel .carousel-caption {
  position: absolute;
  z-index: 400;
  text-align: center;
  top: 110px;
}
.carousel .carousel-indicators {
  position: absolute;
  z-index: 800;
}
/* Catalog*/
.catalog {
  background: #f5f5f5;
}
.owl-item {
  float: left;
}
.product {
  position: relative;
  margin-top: 15px;
  padding: 22px 10px 10px 10px;
  background: #FFFFFF;
}
.product .plaska-news {
  background: #00aeef;
  font-size: 11px;
  color: #FFFFFF;
  position: absolute;
  padding: 1px 5px 1px 5px;
  top: -5px;
  left: -9px;
}
.product p {
  padding-top: 12px;
}
.product .pagetitle {
  font-size: 15px;
  padding-top: 18px;
  text-align: center;
  display: block;
}
.product .rating {
  color: #ffbf44;
  margin-top: 12px;
  text-align: center;
}
.product .rating a.tinytext {
  font-size: 11px;
}
.product .price {
  color: #7e5ea7;
  font-family: Arial;
  font-size: 18px;
  font-weight: normal;
}
.product .availbal {
  color: #43b41b;
  font-size: 11px;
  padding-top: 15px;
}
/*Parallax*/
.parallax-window {
  min-height: 500px;
  width: 100%;
}
.sec3 {
  background: transparent;
  position: relative;
  overflow: hidden;
}
.sec3 [class^="sprite3-"] {
  position: relative;
}
.sec3 .container {
  margin-top: -500px;
  margin-bottom: 20px;
}
.sec3 h1 {
  font-size: 2.250em;
  padding-top: 58px;
  margin-bottom: 40px;
}
.sec3 .gradient {
  background-color: #9d4c8a;
  /* Old browsers */
  background: -moz-linear-gradient(left, #9d4c8a 0%, #745698 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #9d4c8a 0%, #745698 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #9d4c8a 0%, #745698 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9d4c8a', endColorstr='#745698', GradientType=1);
  /* IE6-9 */
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  top: 0px;
  left: 0px;
}
.sec3 .offers {
  background-repeat: no-repeat, no-repeat;
  background-position: center 28px, right 5px;
  margin-bottom: 18px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: -5px;
  padding-right: -5px;
  height: 143px;
  position: relative;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.sec3 .offers .slogan {
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding-top: 84px;
  line-height: 0.8;
}
.sec3 .offers .slogan span {
  font-size: 14px;
}
.sec3 .delivery {
  background-image: url('../img/car.png'), url('../img/car_big.png');
}
.sec3 .kolian {
  background-image: url('../img/kalian.png'), url('../img/kalian_big.png');
}
.sec3 .discount {
  background-image: url('../img/discount.png'), url('../img/discount_big.png');
}
.sec3 .garanty {
  background-image: url('../img/garanty.png'), url('../img/garanty_big.png');
}
.sec3 .tabako {
  background-image: url('../img/tabako.png'), url('../img/tabako_big.png');
}
.sec3 .gifs {
  background-image: url('../img/gifs.png'), url('../img/gifs_big.png');
}
.sec3 .col-lg-1,
.sec3 .col-lg-10,
.sec3 .col-lg-11,
.sec3 .col-lg-12,
.sec3 .col-lg-2,
.sec3 .col-lg-3,
.sec3 .col-lg-4,
.sec3 .col-lg-5,
.sec3 .col-lg-6,
.sec3 .col-lg-7,
.sec3 .col-lg-8,
.sec3 .col-lg-9,
.sec3 .col-md-1,
.sec3 .col-md-10,
.sec3 .col-md-11,
.sec3 .col-md-12,
.sec3 .col-md-2,
.sec3 .col-md-3,
.sec3 .col-md-4,
.sec3 .col-md-5,
.sec3 .col-md-6,
.sec3 .col-md-7,
.sec3 .col-md-8,
.sec3 .col-md-9,
.sec3 .col-sm-1,
.sec3 .col-sm-10,
.sec3 .col-sm-11,
.sec3 .col-sm-12,
.sec3 .col-sm-2,
.sec3 .col-sm-3,
.sec3 .col-sm-4,
.sec3 .col-sm-5,
.sec3 .col-sm-6,
.sec3 .col-sm-7,
.sec3 .col-sm-8,
.sec3 .col-sm-9,
.sec3 .col-xs-1,
.sec3 .col-xs-10,
.sec3 .col-xs-11,
.sec3 .col-xs-12,
.sec3 .col-xs-2,
.sec3 .col-xs-3,
.sec3 .col-xs-4,
.sec3 .col-xs-5,
.sec3 .col-xs-6,
.sec3 .col-xs-7,
.sec3 .col-xs-8,
.sec3 .col-xs-9 {
  padding-left: 5px;
  padding-right: 5px;
}
.sec4 h3 {
  color: #FFFFFF;
  font-size: 1.250em;
  font-weight: 600;
  padding: 16px 0px 16px 20px;
  border: none;
  margin-top: 0px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b859a2+0,7e5ea6+100 */
  background: #b859a2;
  /* Old browsers */
  background: -moz-linear-gradient(left, #b859a2 0%, #7e5ea6 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #b859a2 0%, #7e5ea6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #b859a2 0%, #7e5ea6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b859a2', endColorstr='#7e5ea6', GradientType=1);
  /* IE6-9 */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.sec4 .ui-accordion-content {
  background-image: url('../img/accardion_bg.png');
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: right bottom;
}
.sec4 p {
  font-size: 16px;
  color: #252525;
  font-weight: 300;
}
.sec4 .ui-accordion-header-icon {
  color: #FFFFFF;
  position: absolute;
  right: 17px;
}
@media (max-width: 640px) {
  .carousel {
    margin-top: 17px;
  }
  .carousel .carousel-caption {
    top: 25px;
  }
  .sec3 {
    background-image: url('../img/parallax.jpg');
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
